set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod part_msdos
insmod ext2
insmod chain

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'QUBES-R4-2-4-X86-64'

### BEGIN /etc/grub.d/10_linux ###
menuentry '3mdeb QubesOS preseed' --class qubes --class gnu-linux --class gnu --class os {
    multiboot2 /images/pxeboot/xen.gz console=none
    module2 /images/pxeboot/vmlinuz-6.12.11-1.qubes.fc37 inst.repo=hd:LABEL=QUBES-R4-2-4-X86-64 plymouth.ignore-serial-consoles quiet inst.ks=https://raw.githubusercontent.com/Dasharo/preseeds/refs/heads/qubesos-preseed/qubesos/ks.cfg
    module2 /images/pxeboot/initrd-6.12.11-1.qubes.fc37.img
}