set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'Fedora-E-dvd-x86_64-42'

### BEGIN /etc/grub.d/10_linux ###
menuentry '3mdeb Fedora Workstation preseed' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=Fedora-E-dvd-x86_64-42 quiet inst.ks=https://raw.githubusercontent.com/Dasharo/preseeds/refs/heads/fedora-preseed/fedora/ks.cfg #rd.break=cmdline rd.shell #debug
	initrdefi /images/pxeboot/initrd.img
}
