# graphical installation mode
graphical
# keyboard layout
keyboard --vckeymap=pl --xlayouts='pl'
# language
lang en_US.UTF-8
# disable popup with additional configuration on first boot
firstboot --disable
# timezone
timezone Europe/Warsaw
# disable root password
rootpw --lock

# create user
user --name=linux --groups=wheel --password=$6$FY/YSTovPfAOkdg/$o0dGMNyW9Squf/VWEulshjdzL.ZB1YAzLX1flUgL5IMo387ZaKe28x6DRtdmZbMNuVzSXrXqxB5tJ0Jw3V8od/ --iscrypted --gecos="linux"

# create required partitions (/boot, /efi/boot)
reqpart

# root partition with 51.2GB
part btrfs.236 --fstype="btrfs" --size=51200 --maxsize=51200
btrfs none --label=fedora btrfs.236
btrfs / --subvol --name=root LABEL=fedora

# All the packages that will make it the Fedora "Workstation"
%packages
@^workstation-product-environment
%end

# post installation scripts in bash
%post --interpreter /bin/bash

# Enable SSH and permit password login
sed -i 's/^#*PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
systemctl enable sshd

# Change the hostname
hostnamectl set-hostname --static 3mdeb

# FULL GRUB CONFIG FOR SERIAL SUPPORT
cat > /etc/default/grub << 'EOF'
GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_DISABLE_SUBMENU=true
GRUB_TERMINAL_OUTPUT="console"
GRUB_CMDLINE_LINUX="rhgb quiet console=tty0 console=ttyS0 console=ttyUSB0,115200n8"
GRUB_DISABLE_RECOVERY="true"
GRUB_ENABLE_BLSCFG=true
GRUB_TERMINAL="serial console"
GRUB_SERIAL_COMMAND="serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1"
EOF

# Apply GRUB changes
grub2-mkconfig -o /boot/grub2/grub.cfg

# Kernel message suppression
echo "kernel.printk = 0 4 1 7" > /etc/sysctl.d/10-console-messages.conf

#Enable serial console service
systemctl enable serial-getty@ttyUSB0.service
systemctl start serial-getty@ttyUSB0.service

# Set SELinux to permissive
sed -i 's/^SELINUX=enforcing/SELINUX=permissive/' /etc/selinux/config

# Disable Gnome logout prompt (if GNOME is installed)
gsettings set org.gnome.SessionManager logout-prompt false || true

%end

reboot